root = true

[*]
charset = utf-8-bom
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{cs,razor,css,csproj,json,md,props,targets,yml,yaml,xml}]
charset = utf-8-bom
end_of_line = crlf

[*.razor]
indent_size = 4

[*.cs]
indent_size = 4
